table, tr, td, th
{
    border: 1px solid black;
}

table
{
    text-align: center;
    border-collapse: collapse;    
}


td:first-child 
{ 
    color: blue;
    font-style:italic;    
}

td:nth-child(3)
{ 
    color: red;
}

tbody > tr:nth-child(odd)
{
    background-color: #2AF57E; 
}


tr:nth-child(even)
{
    background-color: #5260FF;
}

.outer-content
{
    margin-top: 20px;
    background-color: pink;
    width: 75%;
    height: 100px;
    text-align: center;
}

.inner-content
{
    margin: 0 auto;
    background-color: blue;
    width: 75%;
    height: 100px;
}